<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Invoice Tracker</h1>
        <nav>
            {% if session.get("user_id") %}
                <a href="/">Dashboard</a>
                <a href="/clients">Clients</a>
                <a href="/invoices">Invoices</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ now.year }} Invoice Tracker </p>
    </footer>

    <!-- JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
